button{
margin: 0%;
padding: 0%;
}

p{
   width: 375px;
  height: 50px;
   padding: 15px;
   margin-top: 0px;
   margin-bottom: 0px;
   background-color: rgb(216, 106, 106);
border: 1px solid rgb(216, 106, 106);
border-radius: 5px;
}
#Figyelem{
   font-weight: bold;
   font-size: 0.75em;
}
#row1{
   margin-top: 22px;
}
#Biztos{
   text-align: left;
}
.btn-group{
   margin-left: 16px;
}